/* Use Selectors and attributes for the HTML design text-transform
- text-decoration
- text-shadow
- letter-spacing
- font-variant */
.tit {
  font-family: ;
    text-align: center;
    color: #6942b8;
    text-shadow: 15px 15px 13px rgba(0, 0, 0, 0.1);
    
}
#dim{
    font-size: 90px;
    text-decoration: line-through;
    text-shadow: ;
    letter-spacing: 30px;
}

#dim-1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    
 }
 #sty{
    text-decoration: lawngreen;
    text-shadow: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 30px;

    
}
#sty-1{
    text-decoration: violet;
    text-shadow: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}